<% provide(:title, "ID一覧") %>

<p class="center">snapchat(スナップチャット)ID友達検索掲示板</p>
<p class="center">snapchat(スナップチャット)ID掲示板へようこそ</p>
<p class="center">snapchat(スナップチャット)用ID交換の友達募集掲示板です。当サイトは無料で友達を探せます。もちろん登録不要！</p>

<%= link_to "掲示板に投稿する☆o(≧▽≦)o☆", new_post_path, class: "btn btn-warning center-block post_btn" %>

<% @posts.each do |post| %>
  <div class="post">
      <p class="post_name <%= post.sex == "男性" ? "man" : "woman" %>"><%= post.name %>【<%= post.sex %>】</p>
      <p class="post_age_prefecture <%= post.sex == "男性" ? "man" : "woman" %>"><%= post.age %> / <%= post.prefecture %></p>
      <p><span style="font-size: 80%;">ユーザー名</span>  <%= post.snapchat_name %></p>
      <p><%= post.description %></p>
      <div class="post_time"><span class="post_id">投稿ID:<%= post.id %></span><%= post.created_at.strftime("%m-%d %H:%M") %></div>
  </div>
<% end %>

<%= will_paginate @posts %>