<% provide(:title, "投稿") %>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @post do |f| %>
	<%= f.text_field :name, placeholder: "名前" %>
	<%= f.text_field :description, placeholder: "本文" %>
	<%= f.select :age, @ages %>
	<%= f.select :sex, @sex %>
	<%= f.select :prefecture, @prefectures %>
	<%= f.text_field :snapchat_name, placeholder: "SnapChatネーム" %>
	<%= f.submit %>
<% end %>