<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | スナップチャット掲示板</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  	<%= link_to "SnapChat掲示板", root_path, id: "logo" %>
  </header>
  <div class="container">
    <%= yield %>
    <footer class="footer">
      <nav>
        <ul>
          <li><%= link_to "使い方", help_path %></li>
          <li><%= link_to "運営者", company_path %></li>
          <li><%= link_to "利用規約", kiyaku_path %></li>
        </ul>
      </nav>
    </footer>
  </div>
</body>
</html>
